{% set base_url = site.theme.link ~ '/static/svg/logos' %}

<h3>Organizatori</h3>

<ul>
	<li><img src="{{base_url}}/fundatia-carturesti.svg"></li>
	<li><img src="{{base_url}}/oar.svg"></li>
	<li><img src="{{base_url}}/mass.svg"></li>
</ul>

<h3>Parteneri Strategici</h3>

<ul>
	<li><img src="{{base_url}}/primaria.svg"></li>
	<li><img src="{{base_url}}/apele-romane.svg"></li>
	<li><img src="{{base_url}}/electrica.svg"></li>
	<li><img src="{{base_url}}/bt.svg"></li>
</ul>

<h3>Sponsori</h3>

<ul>
	<li><img src="{{base_url}}/schreder.svg"></li>
	<li><img src="{{base_url}}/silva.svg"></li>
	<li><img src="{{base_url}}/impress.svg"></li>
	<li><img src="{{base_url}}/young.svg"></li>
	<li><img src="{{base_url}}/daisler.svg"></li>
</ul>

<h3>Parteneri</h3>

<ul>
	<li><img src="{{base_url}}/institut-francais.svg"></li>
	<li><img src="{{base_url}}/facultatea-sociologie.svg"></li>
	<li><img src="{{base_url}}/teatrul-maghiar.svg"></li>
	<li><img src="{{base_url}}/utcn.svg"></li>
	<li><img src="{{base_url}}/atelier.svg"></li>
	<li><img src="{{base_url}}/tranzit.svg"></li>
	<li><img src="{{base_url}}/zerowaste.svg"></li>
	<li><img src="{{base_url}}/i-love-cluj.svg"></li>
	<li><img src="{{base_url}}/cluj-napoca-2021.svg"></li>
	<li><img src="{{base_url}}/voluntariat.svg"></li>
</ul>

<h3>Parteneri Media</h3>

<ul>
	<li><img src="{{base_url}}/zile-si-nopti.svg"></li>
	<li><img src="{{base_url}}/actual-de-cluj.svg"></li>
	<li><img src="{{base_url}}/tvr-cluj.svg"></li>
	<li><img src="{{base_url}}/radio-romania-cluj.svg"></li>
	<li><img src="{{base_url}}/clujlife.svg"></li>
	<li><img src="{{base_url}}/monitorul.svg"></li>
	<li><img src="{{base_url}}/cluj.svg"></li>
	<li><img src="{{base_url}}/totb.svg"></li>
	<li><img src="{{base_url}}/arhiforum.svg"></li>
</ul>