{% extends 'editie/organizatori-editie.twig' %}

{% block content %}

		<h3>Organizatori</h3>
		<ul>
			<li><a href='http://carturesti.ro' target='_blank'><img src="{{base_url}}/fundatia-carturesti.svg" class='o__5'></a></li>
			<li><a href='http://oar.archi' target='_blank'><img src="{{base_url}}/oar.svg" class='o__8'></a></li>
			<li><a href='http://ateliermass.ro/minimass/' target='_blank'><img src="{{base_url}}/mass.svg" class='o__7'></a></li>
			<li><a href='http://astacluj.ro/' target='_blank'><img src="{{base_url}}/asta-nou.svg" class='o__5'></a></li>
		</ul>

		<h3>Parteneri finanțatori</h3>
		<ul>
			<li><a href="https://betfairromania.ro/" target='_blank'><img src="{{base_url}}/betfair-simple.svg" class='o__10'></a></li>
			<li><a href='http://www.corona.com/' target='_blank'><img src="{{base_url}}/corona.svg" class='o__8'></a></li>
			<li><a href='https://www.cemacon.ro/' target='_blank'><img src="{{base_url}}/cemacon.svg" class='o__8'></a></li>
			<li><a href='https://www.cutandcrust.ro/' target='_blank'><img src="{{base_url}}/cut-crust.svg" class='o__8'></a></li>
		</ul>

		<h3>Parteneri Logistici</h3>
		<ul>
			<li><a href='https://www.facebook.com/SistersCafenea/' target='_blank'><img src="{{base_url}}/sisters.svg" alt="Sisters Cafe" class='o__4'></a></li>
			<li><a href='https://www.sportaddict.ro/' target='_blank'><img src="{{base_url}}/sport-addict.svg" class='o__5'></a></li>
			<li><a href='http://www.radpcj.ro/' target='_blank'><img src="{{base_url}}/radp.svg" class='o__5'></a></li>
			<li><a href='http://www.inchiriere-remorci.ro/' target='_blank'><img src="{{base_url}}/welmius.svg" class='o__5'></a></li>
		</ul>

		<h3>Parteneri Culturali</h3>
		<ul>
			<li><a href='http://rowmania.ro' target='_blank'><img src="{{base_url}}/apele-unite.svg" alt="Apele Unite ale Romaniei" class='o__6'></a></li>
			<li><a href='#' target='_blank'><img src="{{base_url}}/ivan-patzaichin.svg" alt="Ivan Patzaichin Mila 23" class='o__8'></a></li>
			<li><a href='https://www.facebook.com/thekohostudio/' target='_blank'><img src="{{base_url}}/koho-2019.svg" alt="Koho' Studio" class='o__4'></a></li>
		</ul>

		<h3>Parteneri Media</h3>
		<ul>
			<li><a href='https://www.clujulcultural.ro/' target='_blank'><img src="{{base_url}}/clujul-cultural.svg" alt="Clujul Cultural" class='o__6'></a></li>
			<li><a href='https://www.clujlife.com/' target='_blank'><img src="{{base_url}}/clujlife.svg" alt="Cluj Life" class='o__4'></a></li>
			<li><a href='http://cluj.tvr.ro/' target='_blank'><img src="{{base_url}}/tvr-cluj.svg" alt="Cluj Life" class='o__4'></a></li>
			<li><a href='https://napocafm.ro/' target='_blank'><img src="{{base_url}}/napoca-fm.svg" alt="NapocaFM" class='o__6'></a></li>
			<li><a href='https://ilikecluj.ro/' target='_blank'><img src="{{base_url}}/i-like-cluj.svg" alt="I Like Cluj" class='o__6'></a></li>
		</ul>


<p>Proiect realizat cu sprijinul Primăriei şi Consiliului Local Cluj-Napoca.</p>

{% endblock %}
