{% extends 'editie/organizatori-editie.twig' %}

{% block content %}

	<h3>Organizatori</h3>
	<ul>
		<li><a href='http://carturesti.ro' target='_blank'><img src="{{base_url}}/fundatia-carturesti.svg" class='o__5'></a></li>
		<li><a href='http://oar.archi' target='_blank'><img src="{{base_url}}/oar.svg" class='o__8'></a></li>
		<li><a href='http://ateliermass.ro/minimass/' target='_blank'><img src="{{base_url}}/mass.svg" class='o__7'></a></li>
		
	</ul>

	<h3>Parteneri finanțatori</h3>
	<ul>
		<li><a href='http://www.afcn.ro/' target='_blank'><img src="{{base_url}}/afcn.svg" class='o__6' alt="Administrația Fondului Cultural Național"/></a></li>
		<li><a href='http://www.primariaclujnapoca.ro/' target='_blank'><img src="{{base_url}}/primaria.svg" class='o__6'></a></li>
		<li><a href="http://centenar.cultura.ro/" target='_blank'><img src="{{base_url}}/romania-100.svg" class='o__6'></a></li>
		<li><a href='http://visitclujnapoca.ro/' target='_blank'><img src="{{base_url}}/visit-cluj.svg" class='o__5'></a></li>
	</ul>

<p>Proiect realizat cu sprijinul Primăriei şi Consiliului Local Cluj-Napoca.</p>

<p class='organizers__disclaimer'>Proiectul nu reprezintă în mod necesar poziţia Administrației Fondului Cultural Național. AFCN nu este responsabilă de conținutul proiectului sau de modul în care rezultatele proiectului pot fi folosite. Acestea sunt în întregime responsabilitatea beneficiarului finanțării.</p>

{% endblock %}
