{% extends 'editie/organizatori-editie.twig' %}

{% block content %}

<div class='layout layout--grid'>
	<div class='layout__item'>
		<h3>Organizatori</h3>

		<ul>
			<li><a href='http://carturesti.ro' target='_blank'><img src="{{base_url}}/fundatia-carturesti.svg" class='o__5'></a></li>
			<li><a href='http://oar.archi' target='_blank'><img src="{{base_url}}/oar.svg" class='o__8'></a></li>
			<li><a href='http://ateliermass.ro/minimass/' target='_blank'><img src="{{base_url}}/mass.svg" class='o__7'></a></li>
		</ul>
	</div>

	<div class='layout__item'>

		<h3>Cu sprijinul</h3>

		<ul>
			<li><a href='http://www.primariaclujnapoca.ro/' target='_blank'><img src="{{base_url}}/primaria.svg" class='o__6'></a></li>
			<li><a href='http://www.electricaserv.ro/' target='_blank'><img src="{{base_url}}/electrica.svg" class='o__8'></a></li>
			<li><a href='http://www.rowater.ro/default.aspx' target='_blank'><img src="{{base_url}}/apele-romane.svg" class='o__4'></a></li>
			<li><a href='http://radpcj.ro/' target='_blank'><img src="{{base_url}}/radp.svg" class='o__5'></a></li>
		</ul>
	</div>
</div>

<div class='layout layout--grid'>
	<div class='layout__item'>
		<h3>Sponsor Principal</h3>

		<ul>
			<li><a href='https://www.bancatransilvania.ro/' target='_blank'><img src="{{base_url}}/bt.svg" class='o__7'></a></li>
		</ul>

	</div>
	<div class='layout__item'>

		<h3>Sponsori</h3>

		<ul>
			<li><a href='http://altom.ro/' target='_blank'><img src="{{base_url}}/altom.svg" class='o__4'></a></li>
			<li><a href='http://www.young-advertising.ro/' target='_blank'><img src="{{base_url}}/young.svg" class='o__6'></a></li>
			<li><a href='https://www.impress.ro' target='_blank'><img src="{{base_url}}/impress.svg" class='o__9'></a></li>
			<li><a href='https://www.dedeman.ro' target='_blank'><img src="{{base_url}}/dedeman.svg" alt='Dedeman' class='o__10'></a></li>
			<li><a href='http://www.rothoblaas.com/' target='_blank'><img src="{{base_url}}/rothoblaas.svg" alt='Rothoblaas' class='o__9'></a></li>
			<li><a href='http://www.hotelsun.ro/' target='_blank'><img src="{{base_url}}/hotel-sun.svg" alt='Sun Hotel' class='o__4'></a></li>
		</ul>
	</div>
</div>


<h3>Finanțatori</h3>

<ul>
	<li><a href='http://www.afcn.ro/' target='_blank'><img src="{{base_url}}/afcn.svg" class='o__6' alt="Administrația Fondului Cultural Național"/></a></li>
	<li><a href='http://www.cjcluj.ro/' target='_blank'><img src="{{base_url}}/consiliul-judetean.svg" class='o__7' alt="Consiliul Județean Cluj"/></a></li>
</ul>


<h3>Parteneri</h3>

<ul>
	<li><a href='http://www.institutfrancais.ro/' target='_blank'><img src="{{base_url}}/institut-francais.svg" class='o__6'></a></li>
	<li><a href='https://www.facebook.com/SistersCafenea/' target='_blank'><img src="{{base_url}}/sisters.svg" alt="Sisters Cafe" class='o__4'></a></li>
	<li><a href='http://astacluj.ro/' target='_blank'><img src="{{base_url}}/asta.svg" class='o__5'></a></li>
	<li><a href='https://facebook.com/prototip.studio/' target='_blank'><img src="{{base_url}}/prototip.svg" alt="Prototip Studio" class='o__4'></a></li>
	<li><a href='https://www.facebook.com/mini.reactor/' target='_blank'><img src="{{base_url}}/mini-reactor.svg" alt="MiniREACTOR" class='o__6'></a></li>
	<li><a href='https://www.facebook.com/koohostudio/' target='_blank'><img src="{{base_url}}/kooho.svg" alt="KOOHO" class='o__4'></a></li>
	<li><a href='http://outdoor4u.ro' target='_blank'><img src="{{base_url}}/outdoor4u.svg" alt="Outdoor4U" class='o__7'></a></li>
	<li><a href='https://www.smidajazz.ro/' target='_blank'><img src="{{base_url}}/smida.svg" alt="Smida Jazz Festival" class='o__5'></a></li>
	<li><a href='https://www.facebook.com/CottonClubCluj/' target='_blank'><img src="{{base_url}}/cotton.svg" alt="Cotton Club" class='o__6'></a></li>
	<li><a href='http://www.happycolor.ro/' target='_blank'><img src="{{base_url}}/happy-color.svg" class='o__6'></a></li>
	<li><a href='http://www.liverental.ro' target='_blank'><img src="{{base_url}}/live-rental.svg" class='o__7'></a></li>
	<li><a href='http://www.revoclub.ro' target='_blank'><img src="{{base_url}}/revo.svg" class='o__6'></a></li>
</ul>

<h3>Parteneri Media</h3>

<ul>
	<li><a href='http://www.zilesinopti.ro/cluj-napoca' target='_blank'><img src="{{base_url}}/zile-si-nopti.svg" class='o__6'></a></li>
	<li><a href='http://cluj.tvr.ro/' target='_blank'><img src="{{base_url}}/tvr-cluj.svg" class='o__4'></a></li>
	<li><a href='http://radiocluj.ro/' target='_blank'><img src="{{base_url}}/radio-romania-cluj.svg" class='o__5'></a></li>
	<li><a href='https://transilvaniareporter.ro/' target='_blank'><img src="{{base_url}}/transilvania-reporter.svg" class='o__8'></a></li>
	<li><a href='https://actualdecluj.ro/' target='_blank'><img src="{{base_url}}/actual-de-cluj.svg" class='o__7'></a></li>
	<li><a href='http://www.monitorulcj.ro/' target='_blank'><img src="{{base_url}}/monitorul.svg" class='o__6'></a></li>
	<li><a href='http://www.clujulcultural.ro/' target='_blank'><img src="{{base_url}}/clujul-cultural.svg" class='o__6'></a></li>
	<li><a href='http://www.slicker.ro/' target='_blank'><img src="{{base_url}}/slicker.svg" class='o__4'></a></li>
	<li><a href='http://www.clujlife.com/' target='_blank'><img src="{{base_url}}/clujlife.svg" class='o__4'></a></li>
	<li><a href='http://ziuadecj.ro' target='_blank'><img src="{{base_url}}/ziua-de-cluj.svg" alt='Ziua de Cluj' class='o__7'></a></li>
</ul>

<p class='organizers__disclaimer'>Proiectul nu reprezintă în mod necesar poziţia Administrației Fondului Cultural Național. AFCN nu este responsabilă de conținutul proiectului sau de modul în care rezultatele proiectului pot fi folosite. Acestea sunt în întregime responsabilitatea beneficiarului finanțării.</p>
{% endblock %}
