{% extends 'editie/organizatori-editie.twig' %}

{% block content %}
<h3>Organizatori</h3>

<ul>
	<li><img src="{{base_url}}/fundatia-carturesti.svg"></li>
	<li><img src="{{base_url}}/oar.svg"></li>
	<li><img src="{{base_url}}/mass.svg"></li>
</ul>

<h3>Cu sprijinul</h3>

<ul>
	<li><img src="{{base_url}}/primaria.svg"></li>
	<li><img src="{{base_url}}/visit-cluj.svg"></li>
	<li><img src="{{base_url}}/servus-cluj.svg"></li>
	<li><img src="{{base_url}}/apele-romane.svg"></li>
	<li><img src="{{base_url}}/electrica.svg"></li>
</ul>

<p>Un proiect realizat cu sprijinul Primăriei și al Consiliului Local Cluj-Napoca. Proiectul susţine candidatura oraşului Cluj-Napoca la titlul de Capitală Culturală Europeană 2021.</p>

<h3>Sponsor Principal</h3>

<ul>
	<li><img src="{{base_url}}/bt.svg"></li>
</ul>

<h3>Sponsori</h3>

<ul>
	<li><img src="{{base_url}}/betfair.svg"></li>
	<li><img src="{{base_url}}/young.svg"></li>
	<li><img src="{{base_url}}/impress.svg"></li>
</ul>

<h3>Parteneri</h3>

<ul>
	<li><img src="{{base_url}}/institut-francais.svg"></li>
	<li><img src="{{base_url}}/temps-dimages.svg"></li>
	<li><img src="{{base_url}}/uad.svg"></li>
	<li><img src="{{base_url}}/sala-polivalenta.svg"></li>
	<li><img src="{{base_url}}/registrul-biciclete.svg"></li>
	<li><img src="{{base_url}}/sor.svg"></li>
	<li><img src="{{base_url}}/soa.svg"></li>
	<li><img src="{{base_url}}/animals-of-cluj.svg"></li>
	<li><img src="{{base_url}}/filmul-de-piatra.svg"></li>
	<li><img src="{{base_url}}/zeppelin.svg"></li>
	<li><img src="{{base_url}}/asta.svg"></li>
	<li><img src="{{base_url}}/altom.svg"></li>
	<li><img src="{{base_url}}/atelier.svg"></li>
	<li><img src="{{base_url}}/happy-color.svg"></li>
</ul>

<h3>Parteneri Media</h3>

<ul>
	<li><img src="{{base_url}}/tvr-cluj.svg"></li>
	<li><img src="{{base_url}}/radio-romania-cluj.svg"></li>
	<li><img src="{{base_url}}/transilvania-reporter.svg"></li>
	<li><img src="{{base_url}}/actual-de-cluj.svg"></li>
	<li><img src="{{base_url}}/zile-si-nopti.svg"></li>
	<li><img src="{{base_url}}/monitorul.svg"></li>
	<li><img src="{{base_url}}/clujul-cultural.svg"></li>
	<li><img src="{{base_url}}/slicker.svg"></li>
	<li><img src="{{base_url}}/clujlife.svg"></li>
	<li><img src="{{base_url}}/arhiforum.svg"></li>
	<li><img src="{{base_url}}/totb.svg"></li>
</ul>
{% endblock %}
