{% extends 'editie/organizatori-editie.twig' %}

{% block content %}

<div class='layout layout--grid'>
	<div class='layout__item'>
		<h3>Organizatori</h3>

		<ul>
			<li><a href='http://carturesti.ro' target='_blank'><img src="{{base_url}}/fundatia-carturesti.svg" class='o__5'></a></li>
			<li><a href='http://oar.archi' target='_blank'><img src="{{base_url}}/oar.svg" class='o__8'></a></li>
			<li><a href='http://ateliermass.ro/minimass/' target='_blank'><img src="{{base_url}}/mass.svg" class='o__7'></a></li>
			
		</ul>
	</div>

	<div class='layout__item'>
		<h3>Partener principal</h3>
		<ul>
			<li><a href='http://lidl.ro' target='_blank'><img src='{{base_url}}/lidl.svg' class='o__100'/></a></li>
		</ul>
	</div>
</div>

{# <div class='layout layout--grid'>
	<div class='layout__item'> #}
		<h3>Parteneri finanțatori</h3>
		<ul>
			<li><a href='http://www.primariaclujnapoca.ro/' target='_blank'><img src="{{base_url}}/primaria.svg" class='o__6'></a></li>
			<li><a href="http://centenar.cultura.ro/" target='_blank'><img src="{{base_url}}/romania-100.svg" class='o__6'></a></li>
			<li><a href='http://visitclujnapoca.ro/' target='_blank'><img src="{{base_url}}/visit-cluj.svg" class='o__5'></a></li>
			<li><a href="https://betfairromania.ro/" target='_blank'><img src="{{base_url}}/betfair.svg" class='o__10'></a></li>
			<li><a href='http://altom.ro/' target='_blank'><img src="{{base_url}}/altom.svg" class='o__4'></a></li>
			<li><a href='http://www.corona.com/' target='_blank'><img src="{{base_url}}/corona.svg" class='o__8'></a></li>
{# 			<li><a href='https://www.samsung.com/ro/' target='_blank'><img src="{{base_url}}/samsung.svg" class='o__9'></a></li> #}
		</ul>
{# 	</div>

	<div class='layout__item'> #}
		<h3>Parteneri Logistici</h3>
		<ul>
			<li><a href="http://libertytechpark.com/" target='_blank'><img src='{{base_url}}/liberty-park.svg' class='o__8' alt='Liberty Technology Park'/></a></li>
			<li><a href='https://web.facebook.com/ateliercafecluj' target='_blank'><img src="{{base_url}}/atelier.svg" class='o__4' alt='Atelier Cafe'></a></li>
			<li><a href='https://www.facebook.com/SistersCafenea/' target='_blank'><img src="{{base_url}}/sisters.svg" alt="Sisters Cafe" class='o__4'></a></li>
			<li><a href='https://www.smidajazz.ro/' target='_blank'><img src="{{base_url}}/smida.svg" alt="Smida Jazz Festival" class='o__5'></a></li>
			<li><a href='http://www.young-advertising.ro/' target='_blank'><img src="{{base_url}}/young.svg" class='o__6'></a></li>
			<li><a href='https://www.facebook.com/koohostudio/' target='_blank'><img src="{{base_url}}/kooho.svg" alt="KOOHO" class='o__3'></a></li>
			<li><a href='http://www.rowater.ro/default.aspx' target='_blank'><img src="{{base_url}}/apele-romane.svg" class='o__4'></a></li>
			<li><a href='http://astacluj.ro/' target='_blank'><img src="{{base_url}}/asta-nou.svg" class='o__5'></a></li>
			<li><a href='www.armatura.ro' target='_blank'><img src="{{base_url}}/armatura.svg" class='o__4'></a></li>
			<li><a href='https://www.sportaddict.ro/' target='_blank'><img src="{{base_url}}/sport-addict.svg" class='o__5'></a></li>
			<li><a href='http://outdoor4u.ro' target='_blank'><img src="{{base_url}}/outdoor4u.svg" alt="Outdoor4U" class='o__7'></a></li>
			<li><a href='https://www.sykes.com/' target='_blank'><img src="{{base_url}}/sykes.svg" alt="Sykes" class='o__6'></a></li>
		</ul>
{# 	</div>
</div> #}

{# <div class='layout layout--grid'>
	<div class='layout__item'> #}
		<h3>Parteneri Culturali</h3>
		<ul>
			<li><a href="http://www.kulturzentrum-klausenburg.ro/" target='_blank'><img src='{{base_url}}/centrul-german.svg' class='o__9'/></a></li>
			<li><a href="http://www.institutfrancais.ro/" target='_blank'><img src='{{base_url}}/institut-francais.svg' class='o__6' /></a></li>
			<li><a href="http://reactor-cluj.com/mini-reactor/" target='_blank'><img src='{{base_url}}/mini-reactor.svg' class='o__8'/></a></li>
			<li><a href="http://muzeulpietonilor.ro" target='_blank'><img src='{{base_url}}/muzeul-pietonilor.svg' class='o__8'/></a></li>
		</ul>
{# 	</div>
	<div class='layout__item'> #}
		<h3>Parteneri Media</h3>
		<ul>
			<li><a href="http://feeder.ro" target='_blank'><img src='{{base_url}}/feeder.svg' class='o__8'/></a></li>
			<li><a href="http://clujlife.com" target='_blank'><img src='{{base_url}}/clujlife.svg' class='o__4'/></a></li>
			<li><a href="http://modernism.ro" target='_blank'><img src='{{base_url}}/modernism.svg' class='o__8'/></a></li>
			<li><a href="http://dispersie.ro" target='_blank'><img src='{{base_url}}/dispersie.svg' class='o__8'/></a></li>
		</ul>
{# 	</div>
</div> #}

<p>Proiect realizat cu sprijinul Primăriei şi Consiliului Local Cluj-Napoca.</p>

{% endblock %}
