{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} {{page_theme}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<!--<div class="container">-->
					<h1 class="header-logo" role="banner">
						<a class="header-logo-link" href="{{site.url}}" rel="home">
							<img src='{{site.theme.link}}/static/svg/somes-delivery/somes-delivery.svg' alt='{{site.name}}'>
						</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
				<!--</div>-->
			{% endblock %}
		</header>

		<section role="main" class="content content-wrapper">

			{% block hero %} <!-- HERO GOES HERE --> {% endblock %}
			
			<div class="{{sidebar_class}}">
				
				{% block title %}
					{% if title %}
						<div class='article-meta'>
							<h1 class='article-title'>{{title}}</h1>
						</div>
					{% endif %}
				{% endblock %}

				{% block content %}
					Sorry, no content
				{% endblock %}
			
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				<div class='container'>
					{% include 'footer.twig' %}
				</div>
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
