{% block html_head_container %}

{% include 'components/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} {{page_theme}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<!--<div class="container">-->
					<h1 class="header-logo" role="banner">
						<a class="header-logo-link" href="{{site.url}}" rel="home">
							<img src='{{site.theme.link}}/static/svg/somes-delivery/somes-delivery.svg' alt='{{site.name}}'>
						</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "components/menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
				<!--</div>-->
			{% endblock %}
		</header>

		<section role="main" class="content">

			{% block hero %} 
				<!-- HERO GOES HERE --> 
			{% endblock %}

			{% block content %}
				Sorry, no content
			{% endblock %}
		</section>

		{% block footer %}
			<footer id="footer">
				<div class='container'>
					{% include 'components/footer.twig' %}
				</div>
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
