<!doctype html>
<html class="no-js" {# site.language_attributes #}>
<head>
    <meta charset="{{site.charset}}" />
        <title>   
            {% if wp_title %}
                {{ wp_title }} &middot; {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
    <meta name="description" content="{{site.description}}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="256x256" href="/favicon.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" href="/favicon.png"/>
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600&amp;subset=latin-ext" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{{site.theme.link}}/static/css/grid.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />

    <!-- Plugins -->
    <!-- <link rel="stylesheet" type="text/css" href="{{site.theme.link}}/static/lib/flickity/flickity.css"> -->
    <!-- <script type="text/javascript" src='{{site.theme.link}}/static/lib/flickity/flickity.pkgd.min.js'></script> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}" />
    {{function('wp_head')}}
