{% extends "base.twig" %}

{% block content %}
	<div class='container container--padded'>
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		
				<!-- Project title -->
				{% include 'components/masthead-project.twig' %}

				<!-- Project intro -->
				<div class='content__intro'>
					{{post.excerpt | default(post.content) }}
				</div>

				<!-- Project gallery -->
				<div class='gallery project-gallery'>
					{% for image in post.get_field('galerie') %}
					<figure class='gallery-item project-gallery-item'>
					    <img src="{{ TimberImage(image).src | resize(1600) }}"/>
					    <figcaption>{{image.caption}}</figcaption>
					</figure>
					{% endfor %}
				</div>
				
		</article>
	</div>

	{% include 'include/slideshow-script.twig' %}
{% endblock %}
