{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class='article-meta'>
					<h1 class="article-title">{{post.get_field('titlu')}}</h1>
					<p>Ediția: {{ post.get_field('editia') }} </p>
				</div>
				<div class="article-body">
					{{post.get_field('descriere')}}
				</div>

				<div class='project-gallery'>
					{% for image in post.get_field('galerie') %}
					<figure class='project-gallery-item'>
					    <img src="{{ TimberImage(image) }}" />
					    <figcaption>{{image.caption}}</figcaption>
					</figure>
					{% endfor %}
				</div>

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
