{# {% set page_theme = 'theme-dark' %} #}

{% extends "base.twig" %}

{% set default_thumbnail = site.theme.link ~ '/static/img/default-thumbnail.png' %}

{% block hero %}
	<div class='hero' style='background-image: url("{{post.thumbnail.src | resize(1600)}}")'></div>
{% endblock %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="article-content">

			<div class='container container--padded'>

				{% include 'components/masthead-editie.twig' %}

				<!-- Project intro -->
				<div class='content__intro'>
					{{post.post_excerpt }}
				</div>

				<div class="article-body">
					{{post.content}}
				</div>

				{% if post.has_field('galerie') %}
			
				<h3>Galerie de imagini</h3>

				{% 
					include 'components/gallery.twig' with {
						'gallery': post.get_field('galerie')
					}
				%}

				{% endif %}
			</div>

			{% if post.has_field('harta') %}
			<div class='section section--theme-dark'>
				<div class='container'>
					<h3>Harta tronsonului</h3>
					<div class='svgmap'>
						<img src='{{ TimberImage(post.get_field('harta')).src }}'/>
					</div>
				</div>
			</div>
			{% endif %}


			{% if post.has_field('zi_de_program') %}
			<div class='container container--padded'>
				<h3>Evenimente</h3>
				{% for zi in post.get_field('zi_de_program') %}
					<h4>{{ zi.ziua | date('l, j F Y') | capitalize }}</h4>
					{% for event_row in zi.eveniment | batch(3) %}
						<div class='layout layout--grid'>
						{% for event in event_row %}
							<div class='layout__item'>
								{% include 'components/tease-event.twig' %}
							</div>
						{% endfor %}

						{% if event_row | length < 3 %}
							<div class='layout__item'><!-- dummy --></div>
						{% endif %}
						{% if event_row | length < 2 %}
							<div class='layout__item'><!-- dummy --></div>
						{% endif %}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
			{% endif %}

			{% if post.has_field('amenajari') %}

			<div class='container container--padded'>
				<h3>Amenajări</h3>
				{% for row in post.get_field('amenajari') | batch(3) %}
					<div class='layout layout--grid'>
						{% for item in row %}
							<div class='layout__item'>
								{% 
									include 'components/tease-proiect.twig' with {
										'post': TimberPost(item.project)
									} only
								%}
							</div>
						{% endfor %}

						{% if row | length < 3 %}
							<div class='layout__item'><!-- dummy --></div>
						{% endif %}
						{% if row | length < 2 %}
							<div class='layout__item'><!-- dummy --></div>
						{% endif %}
					</div>
				{% endfor %}
			</div>

			{% endif %}

			{% if post.has_field('instalatii') %}
			<div class='container container--padded'>
				<h3>Instalații</h3>
				{% for row in post.get_field('instalatii') | batch(3) %}
					<div class='layout layout--grid'>
						{% for item in row %}
							<div class='layout__item'>
								{% 
									include 'components/tease-proiect.twig' with {
										'post': TimberPost(item.project)
									} only
								%}
							</div>
						{% endfor %}
						{% if row | length < 3 %}
							<div class='layout__item'><!-- dummy --></div>
						{% endif %}
						{% if row | length < 2 %}
							<div class='layout__item'><!-- dummy --></div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
			{% endif %}

			{% include ['editie/organizatori-editie-'~post.slug~'.twig'] ignore missing %}

		</section>
	</article>

	{% include 'include/slideshow-script.twig' %}
{% endblock %}
