{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class='article-meta project-meta'>
					{% if post.parent %}
					<h2 class='article-parent-title'>
						<a href='{{post.parent.link}}'>{{post.parent.title}}</a>
					</h2>
					{% endif %}
					<h1 class="article-title">{{post.title}}</h1>
				</div>

				{% if post.children | length %}
				<ul class='article-subpages'>
					 {% for child in post.children %}
				        <li><a href="{{child.link}}"><span>{{child.title}}</span></a></li>
				    {% endfor %}
				</ul>
				{% endif %}

				<div class="article-body">
					{{post.content}}
				</div>

				{% if post.has_field('zi_de_program') %}
				<div class='program-editie cf'>
				{# <h2>Program</h2> #}
				{% for zi_de_program in post.get_field('zi_de_program') %}
					<div class='program-editie-zi'>
						<h3>{{ zi_de_program.ziua | date('l, j F Y') | capitalize }}</h3>
						<table>
							<tbody>
								{% for eveniment in zi_de_program.eveniment %}
								<tr>
									<td class='event-coords'>
										<div class='event-hours'>{{eveniment.orele}}</div>
										<div class='event-place'>{{eveniment.locul}}</div>
									</td>
									<td>
										<h4><a href='{{eveniment.evenimentul.link}}'>{{eveniment.evenimentul.title}}</a></h4>
										{{eveniment.evenimentul.get_preview}}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% endfor %}
				</div>
				{% endif %}

				<div class='project-gallery'>
					{% for image in post.get_field('galerie') %}
					<figure class='project-gallery-item'>
					    <img src="{{ TimberImage(image).src | resize(1600) }}"/>
					    <figcaption>{{image.caption}}</figcaption>
					</figure>
					{% endfor %}
				</div>

				{% include ['editie/organizatori-editie-'~post.slug~'.twig'] ignore missing %}

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
