{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class='article-meta project-meta'>
					{% set categorie = TimberTerm(post.get_field('categorie_proiect')) %}
					<div class='project-category'><a href='{{categorie.link}}'>{{ categorie.title }}</a></div>
					<h1 class="article-title">{{post.title }}</h1>
				</div>
				<div class="article-body">
					{{post.content}}
				</div>

				<div class='project-gallery'>
					{% for image in post.get_field('galerie') %}
					<figure class='project-gallery-item'>
					    <img src="{{ TimberImage(image) }}" />
					    <figcaption>{{image.caption}}</figcaption>
					</figure>
					{% endfor %}
				</div>

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
