{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class='article-meta project-meta'>
					{% set categorie = TimberTerm(post.get_field('categorie_proiect')) %}
					<h1 class="article-title">{{post.title }}</h1>
					<ul class='project-meta'>
						{% set editie = TimberPost(post.get_field('editia')) %}
						<li><span>Ediția</span> <a href='{{ editie.link }}'>{{ editie.title }}</a></li>
						<li><span>Tip</span> <a href='{{categorie.link}}'>{{ categorie.title }}</a></li>
						{% if post.get_field('echipa') %}
						<li><span>Echipa</span> {{ post.get_field('echipa') }}</li>
						{% endif %}
					</ul>
				</div>
				<div class="article-body">
					{{post.excerpt | default(post.content) }}
				</div>

				<div class='project-gallery'>
					{% for image in post.get_field('galerie') %}
					<figure class='project-gallery-item'>
					    <img src="{{ TimberImage(image).src | resize(1600) }}"/>
					    <figcaption>{{image.caption}}</figcaption>
					</figure>
					{% endfor %}
				</div>

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
