{% extends "tease.twig" %}

{% block content %}
	<a class='tease-proiect__thumb' href="{{post.link}}">
		<img src="{{post.thumbnail.src | default(default_thumbnail) | resize(600, 400) }}" alt='{{post.title}}'/>
	</a>
	<div class='tease-proiect__desc'>
		<h2>
			<a href="{{post.link}}">{{post.title}}</a>
		</h2>
		<p>{{post.get_preview(50, false, "")}}</p>
	</div>
{% endblock %}