{% extends 'tease.twig' %}

{% block content %}

	<a href="{{interviu.link}}">
		{% set imagine = interviu.get_field('intervievat_imagine') %}
		<img src="{{ TimberImage(imagine).src | default(default_thumbnail) | resize(600, 400) }}" alt='{{interviu.title}}'/>
	</a>
	
	<h2>
		<a href="{{interviu.link}}">{{interviu.title}}</a>
	</h2>
	<p>{{interviu.get_preview(50, false, "")}}</p>
{% endblock %}