{% set page_theme = 'theme-longread' %}

{% extends "page.twig" %}

{% block content_title %}
<a href=''>Someșul povestit</a>
<h1 class="article-title">{{post.title}}</h1>
{% endblock %}

{% block content_meta %}
<section class='interviu-info'>

	{% set nume = post.get_field('intervievat_nume') %}
	{% set imagine = post.get_field('intervievat_imagine') %}
	{% set bio = post.get_field('intervievat_bio') %}
	{% set data_interviu = post.get_field('interviu_data') %}

	{% if nume %}
	<h3 class='interviu-info-nume'>{{nume}}</h3>
	{% endif %}

	{% if imagine %}
	<img class='interviu-info-imagine' src='{{ TimberImage(imagine).src | resize(400) }}'/>
	{% endif %}

	{% if bio %}
	<div class='interviu-info-bio'>{{ bio }}</div>
	{% endif %}

	{% if data_interviu %}
	<p>{{ data_interviu | date('F Y') }}</p>
	{% endif %}
</section>
{% endblock %}
