<div class='teasebox teasebox--event'>
	{% if (event.orele or event.locul) %}
	<div class='teasebox__label'>
			{% if event.orele %}<strong class='teasebox__time'>{{ event.orele }}</strong> {% endif %}
			{% if event.locul %}<span class='teasebox__place'>{{ event.locul }}</span> {% endif %}
	</div>
	{% endif %}
	<a class='teasebox__thumb' href="{{event.evenimentul.link}}">
		<img src="{{event.evenimentul.thumbnail.src | default(default_thumbnail) | resize(800, 500) }}" />
	</a>
	<div class='teasebox__info'>
		<h2 class='teasebox__title'>
			<a href="{{event.evenimentul.link}}">{{event.evenimentul.title}}</a>
		</h2>
		<p class='teasebox__desc'>{{ event.evenimentul.post_excerpt }}</p>
	</div>
</div>